target
work
lib/**/*.md5
lib/**/*.sha1
lib/**/maven-metadata*
lib/**/*.lastUpdated
lib/**/m2e*

# IntelliJ IDEA project files
*.iml
*.iws
*.ipr
.idea

# Eclipse project files
.settings
.classpath
.project
/lib/.index/

# Netbeans project files
plugin/nb-configuration.xml
